img {
  height: 200px;
  width: 200px;
}
.btn_del {
  background-color: gray;
  color: black;
}

.item {

  padding: 60px;
  
}
.img-info {
  margin-bottom: 10px;
  .info-inner {
    display: flex;
    margin: 12px;
    font-size: 15px;
  }
}
